{
    "semi": true,
    "trailingComma": "none",
    "arrowParents": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "auto",
    "printWidth": 120
  }
  