@import "../../.cache/material/colors.css";

/* -----------------------------------------------------
 * Settings
 * ----------------------------------------------------- */

.settings .settings_title {
    color: @onSurface;
    background-color: @surfaceContainerLow;
    font-weight: normal;
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.settings .full_sidebar {
    border-right: 1px solid;
    border-color: @outlineVariant;
}

.settings .page_title {
    background-color: @surface;
    font-weight: normal;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
    border-bottom: 1px solid;
    border-color: @outlineVariant;
    color: @onSurfaceVariant;
    /* margin-bottom: 3px; */
}

.settings .sidebar {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 250px;
    background-color: @surfaceContainerLow;
}

.settings .sidebar_row {
    border-radius: 100px;
    padding: 0px;
    padding-right: 24px;
    padding-left: 16px;
    min-height: 56px;
    background-color: @surfaceContainerLow;
}

.settings .sidebar_row:hover {
    background-color: mix(@onSurface, @surface, 0.92);
}

.settings .sidebar_row:active {
    background-image: radial-gradient(circle, mix(@onSurface, @surface, 0.9) 10%, transparent 0%);
}

.settings .sidebar_row.active {
    background-color: @secondaryContainer;
    background-image: radial-gradient(circle, @secondaryContainer 10%, transparent 0%);
}

.settings .sidebar_row label {
    color: @onSurfaceVariant;
    font-weight: normal;
    font-size: 16px;
}

.settings .sidebar_row.active label {
    color: @onSecondaryContainer;
}

.settings .sidebar_row .icon {
    margin-right: 12px;
    color: @onSurfaceVariant;
}

.settings .sidebar_row.active image {
    margin-right: 12px;
    color: @onSecondaryContainer;
}

.settings .sidebar separator {
    margin-right: 16px;
    margin-left: 16px;
    color: @outline;
}

.settings .error_container {
    padding-left: 16px;
    padding-right: 16px;
    background-color: @errorContainer;
}

.settings .error_container label {
    color: @onErrorContainer;
}

.settings box {
    margin: 0px;
    padding: 0px;
}

.settings .row {
    background: transparent;
    transition-timing-function: ease-out;
    outline: none;
    background-image: radial-gradient(circle, transparent 10%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
    background-color: transparent;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0px;
    border-radius: 0px;
}

.settings .row:hover {
    background-color: mix(@onSurface, @surface, 0.92);
}

.settings .row:active:not(.focused) {
    transition-duration: 0.3s, 0ms, 0ms, 0.2s, 0.2s, 0.2s;
    animation: ripple 0.3s ease-out forwards;
    background-size: 0% 0%;
    background-image: radial-gradient(circle, mix(@onSurface, @surface, 0.9) 10%, transparent 0%);
}

.settings .row.focused {
    background-color: mix(@onSurface, @surface, 0.8);
}

.settings .row .title {
    font-weight: normal;
    font-size: 17px;
    color: @onSurface;
}

.settings .row .description {
    font-weight: normal;
    font-size: 14px;
    color: @onSurfaceVariant;
}

.settings .row .icon {
    color: @onSurfaceVariant;
    margin-right: 16px;
}

.settings .bottom_bar {
    background-color: @surface;
    font-weight: normal;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid;
    border-color: @outlineVariant;
}

.settings entry,
.settings combobox {
    min-width: 30px;
    min-height: 32px;
    border-radius: 4px;
    background-color: @surfaceContainerHigh;
}

.settings entry label,
.settings combobox label {
    color: @onSurface;
    font-weight: normal;
}

/* Wifi */

.settings .wifi_list .row .icon {
    color: @onSurfaceVariant;
    margin-right: 16px;
}

.settings .wifi_list .row.active .icon {
    color: @primary;
}

/* Bluetooth */

.settings .device_list .row .title {
    font-weight: normal;
    font-size: 16px;
    color: @onSurface;
}

.settings .device_list .row .description {
    font-weight: normal;
    font-size: 14px;
    color: @onSurfaceVariant;
}

.settings .device_list .row image {
    color: @onTertiary;
    background-color: @tertiary;
    margin-right: 16px;
    min-height: 32px;
    min-width: 32px;
    border-radius: 5px;
}

.settings .device_list .row.active image {
    color: @onPrimary;
    background-color: @primary;
}

/* Theme */
.settings .wallpaper .image {
    border-radius: 7px;
    margin-right: 16px;
    min-height: 32px;
    min-width: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* -----------------------------------------------------
 * Emojis
 * ----------------------------------------------------- */

.emojis {
    background-color: @background;
}

.emojis .emoji_category {
    font-weight: 300;
    min-height: 35px;
    min-width: 35px;
    padding: 0px;
}

.emojis .emoji_category:active {
    background-color: mix(@onSurfaceVariant, transparent, 0.8);
}

.emojis .emoji_category.active {
    background-color: @secondaryContainer;
    background-image: radial-gradient(circle, @secondaryContainer 10%, transparent 0%);
    color: @onSecondaryContainer;
}

.emojis .emoji_category.active .icon {
    color: @onSecondaryContainer;
}

.emojis .top_bar {
    background: @surfaceContainer;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.emojis scrollbar {
    opacity: 0;
}

.emojis scrollbar:hover {
    opacity: 0.1;
}

.emojis .emoji {
    min-height: 35px;
    min-width: 35px;
    padding: 0px;
}

.emojis .emoji:active {
    background-color: mix(@onSurfaceVariant, transparent, 0.8);
    background-image: radial-gradient(circle, @secondaryContainer 10%, transparent 0%);
}

.emojis .emoji label {
    font-size: 20px;
}

.emojis .title {
    padding-left: 16px;
    color: @onSurfaceVariant;
    margin-top: 3px;
}

.emojis button:focus {
    background-color: transparent;
}
