$background: <background>;
$foreground: <onBackground>;

$surface: <surface>;
$onSurface: <onSurface>;
$surfaceContainer: <surfaceContainer>;
$surfaceContainerHigh: <surfaceContainerHigh>;
$surfaceContainerHighest: <surfaceContainerHighest>;
$surfaceContainerLowest: <surfaceContainerLowest>;
$surfaceContainerLow: <surfaceContainerLow>;
$surfaceVariant: <surfaceVariant>;
$onSurfaceVariant: <onSurfaceVariant>;
$inverseSurface: <inverseSurface>;
$inverseOnSurface: <inverseOnSurface>;

$outline: <outline>;
$outlineVariant: <outlineVariant>;

$primary: <primary>;
$onPrimary: <onPrimary>;
$primaryContainer: <primaryContainer>;
$onPrimaryContainer: <onPrimaryContainer>;

$secondary: <secondary>;
$onSecondary: <onSecondary>;
$secondaryContainer: <secondaryContainer>;
$onSecondaryContainer: <onSecondaryContainer>;

$secondaryFixed: <secondaryFixed>;
$onSecondaryFixed: <onSecondaryFixed>;

$primaryFixed: <secondaryFixed>;
$primaryFixedDim: <secondaryFixedDim>;
$onPrimaryFixed: <onSecondaryFixed>;

$tertiary: <tertiary>;
$onTertiary: <onTertiary>;
$tertiaryContainer: <tertiary>;
$onTertiaryContainer: <onTertiary>;

$error: <error>;
$onError: <onError>;
$errorContainer: <errorContainer>;
$onErrorContainer: <onErrorContainer>;