[Desktop Entry]
Name=HyprYou
Comment=Run HyprYou DE on Hyprland WM
Exec=hyprland --config /usr/share/hypryou/configs/hyprland/main.conf
Type=Application
DesktopNames=HyprYou
