@use "colors" as *;
@use "variables" as *;
@use "calculated" as *;
@use "sass:color";

* {
    transition: all 0.25s ease-in-out;
}

window {
    font-family: "Google Sans Display";
    font-size: 16px;
    font-weight: 400;
}

button,
box {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

tooltip {
    background-color: $surfaceContainer;
    border-radius: 0.75rem;
    outline: none;
    box-shadow: none;
    border: 0.0625rem solid $layerBorderColor;
}

tooltip label {
    color: $onSurface;
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
}

.material-icon,
.material-icon * {
    font-family: "Material Symbols Rounded", "MaterialSymbolsRounded";
}

.corner {
    color: rgba($background, $layerOpacity);
}

.misc--search {
    @include elevation(1);
    @include nLayerBackground($surfaceContainerHigh, 2);
    margin: 0.5rem;
    border-radius: 2.75rem;
    min-height: 2.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .icon {
        font-size: 1.125rem;
        font-variation-settings: "opsz" 20;
        font-weight: 500;
        color: $onSurface;
        margin-right: 0.5rem;
    }

    .entry {
        color: $onSurface;
        min-height: 0;
        padding: 0;
        outline: none;
        background-color: transparent;
        placeholder {
            opacity: 1;
            color: $onSurfaceVariant;
        }
    }
}

scale {
    padding: 0;
    margin: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    trough {
        background-color: $secondaryContainer;
        min-height: 0.675rem;
        border-radius: 0.675rem;
    }

    highlight {
        background-color: $primary;
        border-radius: 0;
    }

    slider {
        min-height: 1.75rem;
        min-width: 0.375rem;
        margin: 0;
        margin-top: -0.875rem;
        margin-bottom: -0.875rem;
        border-radius: 0.875rem;
        background-color: $primary;
    }
}
