@use "colors" as *;
@use "variables" as *;
@use "calculated" as *;
@use "sass:color";

* {
    transition: all 0.25s ease-in-out;
    transition-property: background, background-color, color, border-color, outline-color, box-shadow;
}

window {
    font-family: "Google Sans Display";
    font-size: 16px;
    font-weight: 400;
}

button,
box {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

separator {
    background-color: $outlineVariant;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

tooltip {
    background-color: $surfaceContainer;
    border-radius: 0.75rem;
    outline: none;
    box-shadow: none;
    border: 0.0625rem solid $layerBorderColor;
}

tooltip label {
    color: $onSurface;
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
}

.material-icon,
.material-icon * {
    font-family: "Material Symbols Rounded", "MaterialSymbolsRounded";
}

.corner {
    color: rgba($background, $layerOpacity);
}

.misc--search {
    @include elevation(1);
    @include nLayerBackground($surfaceContainerHigh, 2);
    margin: 0.5rem;
    border-radius: 2.75rem;
    min-height: 2.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .icon {
        font-size: 1.125rem;
        font-variation-settings: "opsz" 20;
        font-weight: 500;
        color: $onSurface;
        margin-right: 0.5rem;
    }

    .entry {
        color: $onSurface;
        min-height: 0;
        padding: 0;
        outline: none;
        background-color: transparent;
        placeholder {
            opacity: 1;
            color: $onSurfaceVariant;
        }
    }
}

scale {
    padding: 0;
    margin: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    trough {
        background-color: $secondaryContainer;
        min-height: 0.675rem;
        border-radius: 0.675rem;
    }

    highlight {
        background-color: $primary;
        border-radius: 0;
    }

    slider {
        min-height: 1.75rem;
        min-width: 0.375rem;
        margin: 0;
        margin-top: -0.875rem;
        margin-bottom: -0.875rem;
        border-radius: 0.875rem;
        background-color: $primary;
    }
}

switch {
    border: 0.125rem solid;
    min-height: 1.25rem;
    border-radius: 1.5rem;
    border-color: $outline;
    background-color: $surfaceContainerHighest;

    slider {
        border-radius: 50%;
        background-color: $outline;
        box-shadow: none;
    }

    &:disabled {
        background-color: $surfaceContainerHighest;
        border-color: $onSurface;
        slider {
            background-color: $onSurface;
        }
    }

    &:hover {
        background-color: color.mix($surfaceContainerHighest, $onSurface, 92%);

        slider {
            background-color: $onSurfaceVariant;
        }
    }

    &:active {
        background-color: color.mix($surfaceContainerHighest, $onSurface, 92%);

        slider {
            background-color: $onSurfaceVariant;
        }
    }

    &:checked {
        background-color: $primary;
        border-color: $primary;

        slider {
            background-color: $onPrimary;
        }

        &:disabled {
            background-color: $onSurface;
            border-color: $onSurface;

            slider {
                background-color: $surface;
            }
        }

        &:hover {
            background-color: $primary;
            border-color: $primary;

            slider {
                background-color: $primaryContainer;
            }
        }

        &:active {
            background-color: $primary;
            border-color: $primary;

            slider {
                background-color: $primaryContainer;
                border-color: $primaryContainer;
            }
        }
    }
}

popover contents {
    background-color: $surfaceContainer;
    border: 0.0625rem solid $layerBorderColor;
    border-radius: 0.25rem;
    min-height: 0;
    min-width: 12rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    modelbutton {
        border-radius: 0;
        min-height: 2.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        &:hover {
            background: color.mix($surfaceContainer, $onSurface, 90%);
        }
        &:active {
            background: color.mix($surfaceContainer, $onSurface, 82%);
        }
    }
}
