@use "colors" as *;
@use "variables" as *;
@use "sass:color";

window.tray {
    min-width: 25rem;
    min-height: 25rem;
    background-color: $background;
    border-radius: $hyprlandRounding;
    border: none;

    .tray-widget {
        padding: 8px;
    }

    .tray-item {
        image {
            margin-right: 8px;
            min-height: 1.5rem;
            min-width: 1.5rem;
            font-size: 2rem;
        }
        label {
            font-size: 1rem;
            font-weight: 500;
        }
        padding: 0.25rem;
        background-color: $surfaceContainer;
        padding: 0.375rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-radius: $hyprlandRounding - 8px;

        &:hover {
            background-color: color.mix($surfaceContainer, $onSurfaceVariant, 95%);
        }
        &:active {
            background-color: color.mix($surfaceContainer, $onSurfaceVariant, 88%);
        }
    }
}
