@use "colors" as *;
@use "variables" as *;
@use "calculated" as *;
@use "sass:color";

window.apps-menu {
    @include nLayerBackground($background, 1);
    min-width: 29rem;
    min-height: 43.75rem;
    border-radius: $hyprlandRounding;
    border: 0.0625rem solid $layerBorderColor;

    .app-item {
        @include elevation(1);
        @include nLayerBackground($surfaceContainer, 2);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        outline-offset: -0.0625rem;
        transition: all 0.25s ease-in;
        .icon {
            margin-right: 0.5rem;
            min-height: 2rem;
            min-width: 2rem;
            font-size: 2rem;
            color: $onSurface;
        }
        .label {
            font-size: 1rem;
            font-weight: 400;
            color: $onSurface;
        }

        padding: 0.5rem;
        border-radius: max(calc($hyprlandRounding - 0.5rem), 0.25rem);

        &:hover {
            background-color: color.mix($surfaceContainer, $onSurfaceVariant, 95%);
        }
        &:active {
            background-color: color.mix($surfaceContainer, $onSurfaceVariant, 88%);
        }
        &:focus-within {
            background-color: color.mix($surfaceContainer, $onSurfaceVariant, 88%);
            outline: none;
        }
    }

    .app-item-revealer {
        &.highest .app-item {
            outline: 0.0625rem solid $primary;
        }
    }
}
