@use "colors" as *;
@use "variables" as *;
@use "calculated" as *;
@use "sass:color";

.mpris-player {
    min-height: 9rem;
    border-radius: 0.5rem;
    background-color: $surfaceContainer;

    label:not(.icon) {
        text-shadow: 0px 0px 2px rgba($inverseOnSurface, 0.25), 0px 0px 4px rgba($inverseOnSurface, 0.35), 0px 0px 6px rgba($inverseOnSurface, 0.5);
    }
    .info-box {
        padding: 0.75rem 1.25rem;
    }
    .title {
        font-size: 1.125rem;
        font-weight: 500;
        color: $onSurface;
        margin-bottom: 0.125rem;
    }
    .artists {
        font-size: 0.9375rem;
        font-weight: 500;
        color: $onSurfaceVariant;
        font-family: "Google Sans Text";
    }
    .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.36;
    }
    .vignette {
        // prettier-ignore
        background:
            radial-gradient(
                circle at center,
                rgba(0, 0, 0, 0) 42%,
                color-mix(
                    in srgb,
                    var(--player-color) 12%,
                    rgba($inverseOnSurface, 0.35)
                ) 82%,
                color-mix(
                    in srgb,
                    var(--player-color) 18%,
                    rgba($inverseOnSurface, 0.8)
                ) 100%
            ),
            linear-gradient(
                to top,
                rgba($inverseOnSurface, 0.6) 0%,
                rgba($inverseOnSurface, 0.35) 35%,
                rgba($inverseOnSurface, 0.0) 65%
            );
    }
    .player {
        background-color: $surfaceContainerHigh;
        color: $onSurface;
        font-size: 0.8rem;
        border-radius: 0.8rem;
        padding: 0.25rem 0.5rem;
    }

    .position-label {
        color: $onSurface;
        font-size: 0.875rem;
    }

    scale {
        margin: 0;
        padding: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-top: 0.5rem;
        trough {
            background-color: $secondaryContainer;
            min-height: 0.188rem;
            @include elevation(1);
        }
        highlight {
            background-color: $primary;
            border-radius: 2rem;
        }

        slider {
            margin-top: -0.5rem;
            margin-bottom: -0.5rem;
            min-height: 1rem;
            box-shadow: none;
        }

        &:not(:disabled):hover trough {
            background-color: color.mix($secondaryContainer, $onSurface, 90%);
        }

        &:disabled {
            opacity: 1;
            filter: none;
        }
    }

    .actions {
        border-radius: 2.25rem;
        .icon {
            font-size: 1.125rem;
            font-weight: 400;
            font-variation-settings: "opsz" 20;
            color: $onSurface;
        }
        button {
            @include elevation(1);
            border-radius: 100%;
            &.play-pause {
                background-color: $secondary;
                min-height: 1.75rem;
                min-width: 1.75rem;
                &:hover {
                    background-color: color.mix($secondary, $inverseOnSurface, 92%);
                }
                &:active {
                    background-color: color.mix($secondary, $inverseOnSurface, 86%);
                }
                &:not(:first-child) {
                    margin-left: 0.188rem;
                }
                &:not(:last-child) {
                    margin-right: 0.188rem;
                }
                .icon {
                    color: $onSecondary;
                }
            }
            &:not(.play-pause) {
                background-color: $surfaceContainer;
                min-height: 1.325rem;
                min-width: 1.325rem;
                &:hover {
                    background-color: color.mix($surfaceContainer, $onSurfaceVariant, 92%);
                }
                &:active {
                    background-color: color.mix($surfaceContainer, $onSurfaceVariant, 86%);
                }
            }
        }
    }
}

window.players {
    @include nLayerBackground($background, 1);
    min-width: 25rem;
    min-height: 25rem;
    border-radius: $hyprlandRounding;
    border: 0.0625rem solid $layerBorderColor;

    .no-items label {
        color: $onSurfaceVariant;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0.5rem;
    }
    .mpris-player {
        @include elevation(1);
        @include nLayerBackground($surfaceContainer, 2);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: max(calc($hyprlandRounding - 0.5rem), 0.25rem);
        min-width: 20.25rem;

        &:not(.is-current) {
            .title,
            .artists {
                color: $onSurfaceVariant;
            }
            .vignette {
                background: radial-gradient(circle, transparent 0%, color-mix(in srgb, $surfaceContainer 20%, transparent) 70%);
            }
            .image {
                opacity: 0.25;
            }
            button.play-pause {
                background-color: $surfaceContainerHigh;
                .icon {
                    color: $onSurface;
                }
                &:hover {
                    background-color: color.mix($surfaceContainer, $onSurfaceVariant, 92%);
                }
                &:active {
                    background-color: color.mix($surfaceContainer, $onSurfaceVariant, 86%);
                }
            }
        }
        &:first-child {
            margin-top: 0.5rem;
        }
        .player {
            @include nLayerBackground($surfaceContainerHigh, 3);
        }
        .image {
            border-radius: max(calc($hyprlandRounding - 1rem), 0.25rem);
        }
    }
}
