@use "colors" as *;
@use "variables" as *;
@use "calculated" as *;
@use "sass:color";

window.popups {
    background: #22222201;
    .popup {
        @include nLayerBackground($background, 1);
        border-radius: $hyprlandRounding;
        border: 0.0625rem solid $layerBorderColor;
        min-width: 17rem;
        min-height: 2.5rem;
        padding: 0.25rem;
        padding-top: 0.375rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-bottom: 0.5rem;
        transition: none;

        .icon {
            margin-right: 0.25rem;
            margin-left: 0.188rem;
            color: $onSurface;
            font-size: 1.125rem;
            font-variation-settings: "opsz" 20;
            font-weight: 500;
        }

        .percent {
            margin-left: 0.188rem;
            min-width: 2.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: $onSurfaceVariant;
        }

        .name {
            font-size: 1rem;
            font-weight: 400;
            margin-top: 0.188rem;
            color: $onSurface;
        }

        scale slider {
            box-shadow: none;
            @if $layerOpacity == 1 {
                box-shadow: -0.375rem 0 0 0 $background, 0.375rem 0 0 0 $background;
            }
        }
    }

    .text-popup {
        padding: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        .icon {
            margin-right: 0.5rem;
        }
        &.critical {
            background-color: $error;
            .icon {
                color: $onError;
            }
            .name {
                color: $onError;
            }
        }
    }
}
